/* .left-main */
.hambg-1{
        z-index: -1;
    }

.hambg-1 h2{
    padding-top: 13px;
    display: inline-block;
}

/* .nav-links */
    .hambg-2{
        background-color: black;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

/* .link-text */
    .hambg-3{
        margin-top: 15px;
        font-size: 18px;
    }

/* .search-bar-div */
    .hambg-4{
        display: none;
    }

/* Hamburger icon */
    .hambg-4 img{
        display: none;
    }

/* .navbar */
    .hambg-5{
        display: block;
        background-color: black;
    }

/* Cross icon */
    .hambg-6{
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        margin-top: 20px;
    }